.overlay {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: #71717169 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    position: fixed;
    z-index: 999999999999999999;
    justify-content: center;
    display: flex;
    align-items: center;
}


.alertComponent {
    width: 440px;
    height: 460px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.close-alert {
    background-color: #F1F7FE;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-left: 380px;
    border-radius: 8px;
    cursor: pointer;
}

.close-btn {
    width: 18px;
    height: 18px;
    display: flex;
}

.alert-photo {
    width: 80px;
    height: 80px;
}

.title {
    font-family: SF Pro Text;
    font-size: 34px;
    /* font-weight: bold; */
    /* margin-bottom: 20px; */
    color: #212121;
}

.subtitle {
    font-family: SF Pro Text;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #212121;
    padding: 0.5% 3%;
}

.button-line {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

ion-button {
    --box-shadow: none;
    --background: #F1F7FE;
    --border: 1px solid #F1F7FE;
    --font-family: SF Pro Text;
    font-size:18px;
    --font-weight:600;
    --color:#212121;
    text-transform: capitalize;
    cursor: pointer;
    --border-radius: 10px;
    min-width: 150px;
    min-height: 50px;
}

