<div class="custom-swiper">

<swiper-container 
#swiper
slides-per-view="1"
(swiperslidechange)="onSlideChange($event)">
  <swiper-slide *ngFor="let slide of slides">
    <div class="slide">
      <img [src]="slide.imageUrl" alt="" class="">
    </div>
    <h2 class="swiper">
      {{ slide.title | translate }}
    </h2>
    <p class="swiper">
      {{ slide.description | translate }}
    </p>
  </swiper-slide>
</swiper-container>

<!-- Custom Dots -->
<div class="custom-dots">
  @for(s of slides;track s.id; let i=$index ){
    <span class="dot" [ngClass]="{'active': i === activeSlideIndex}"></span>
  }
</div>


</div>