/* Making background color of ion-content to be light blue */
ion-content {
  --background: #F1F7FE;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center;     /* Vertically center the content */
    height: 100%;            /* Full height to fill the screen */
}


app-lotteries {
  display:flex;
  justify-content: space-evenly;
  align-items: center;     /* Vertically center content within app-lotteries */
  padding: 50px;
}