.split-box {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    min-width:850px;
    max-width:1300px;
    height: 680px;
}
  
.left-side, .right-side {
    flex: 1;
    max-width: 700px;
    height: 100%;
}
  
.left-side {
    background-color: #0E89D0; 
    border-top-left-radius: 12px;  /* Left side: top-left corner */
    border-bottom-left-radius: 12px;  /* Left side: bottom-left corner */
}
  
.right-side {
    background-color: #FFFFFF; 
    border-top-right-radius: 12px; /* Right side: top-right corner */
    border-bottom-right-radius: 12px; /* Right side: bottom-right corner */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
  