/* Define the SF Pro Text Regular font */
@font-face {
    font-family: 'SF Pro Text';
    src: url('assets/fonts/SF_Pro_Text_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Set SF Pro Text as the default font for the body */
  body {
    font-family: 'SF Pro Text';
  }

  h1, h2, h3, h4, h5, h6, p {
    font-family: 'SF Pro Text';
    color:#212121;
  }

 /* Form Input Styles */
//  .form-input {
//     --background: #ffffff;
//     --border-color:  #F1F7FE;
//     --color: #212121;
//     --border-radius: 12px; /* Custom property for border radius */
//     font-size: 16px;
//     font-weight: 900; /* Ensures the text is bold */
//     width: 100%;
//     max-width: 500px;
//     max-height: 20px;
//     margin-bottom: 16px;
//     border-radius: var(--border-radius); /* Use the custom border-radius variable */
//     border: 1px solid var(--border-color); /* Ensure the border color is applied */
//     background-color: var(--background); /* Apply background color */
//     color: var(--color); /* Apply text color */
// }

/* Adjust padding-left for the native input part */
 .native-input.sc-ion-input-md {
     padding-left: 10px; 
     padding-right: 10px;
 }




