/* Define the SF Pro Text Regular font */
@font-face {
    font-family: 'SF Pro Text';
    src: url('assets/fonts/SF_Pro_Text_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Set SF Pro Text as the default font for the body */
  body {
    font-family: 'SF Pro Text';
  }

  h1, h2, h3, h4, h5, h6, p {
    font-family: 'SF Pro Text';
    color:#212121;
  }







